div {
  width: 200px;
  margin:0 auto;
}

p{text-align:center;}

.button {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: block;
  line-height:1.1;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  border-radius:25px;
  z-index:1;
}

path {
  stroke-width: 2;
  stroke: #fff;
  fill: none;
  stroke-dasharray: 460;
  -webkit-transition: -webkit-transform 1s linear;
  -moz-transition: -moz-transform 1s linear;
  transition: transform 1s linear;
}

.button:hover {
  cursor: pointer;
}

svg:hover path {
    animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite; 
    -webkit-animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite;
    -moz-animation: dash 2s reverse cubic-bezier(0.45, 0.03, 0.51, 0.95) 0s infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;}

@-webkit-keyframes dash{
    to {
      fill: transparent;
      stroke: #ffffff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dashoffset: 600;
      stroke-dasharray: 600 0;
      }
  }
@keyframes dash{
    to {
      fill: transparent;
      stroke: #ffffff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dashoffset: 600;
      stroke-dasharray: 600 0;
      }
  }
@-moz-keyframes dash{
    to {
      fill: transparent;
      stroke: #ffffff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dashoffset: 600;
      stroke-dasharray: 600 0;
      }
  }